doctype html
html
  head
    title= "Community Credentials | Resonate"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', type="image/png" href='images/favicon.png')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    style.
      @font-face {
        font-family: 'Graphik'; 
        src: url('fonts/Graphik.woff') format('woff'),
             url('fonts/Graphik.woff2') format('woff2'),
             url('fonts/Graphik.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
      }
  body
    block content
    script(src="/javascripts/bundle.js")
