body {
  padding: 50px;
  margin: 0;
  position: relative;
  font-size: 15px;
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:-1;
}

.background ul {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
  height: 100%;
}

.background li {
  box-sizing: border-box;
}

.background div {
  box-sizing: border-box;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  display: block;
}

.background span[role=img] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
}

a {
  color: #00B7FF;
}

.title {
  font-size: 3.5em;
  margin: 1em 0 1.5em 0;
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin: 1em 0 2em 0;
}

.links a {
  margin: 0 1em 0 0;
}

.question {
  margin: 1em 0;
}

input[type="text"] {
  width: 400px;
  max-width: 100%;
}

.album-link {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 50%;
  text-decoration: none;
}

.album-link h3 {
  text-decoration: underline;
}

.album-link P {
  margin-top: 0;
}

.album-link label {
  margin-top: .5em;
  text-decoration: underline;
}

.participating-releases {
  margin-top: 2em;
}

#trial-form {
  box-shadow: 0px 0 11px 10px #333;
  display: flex;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: 100%;
}

#trial-form input[type=submit] {
  flex: 1;
  padding: 1em;
  border: none;
  font-size: 1.5em;
  background-color: black;
  color: white;
  cursor: pointer;"
}

.modal-container {
  display: none;
  position: fixed;
  overflow-x: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
}

.modal {
  display: none;
  background-color: white;
  color: black;
  padding: 2em;
  border: 2px solid black;
  position: fixed;
  margin: 100px auto;
  width: 650px;
  box-sizing: border-box;
  max-width: 95%;
  position: relative;
}

.modal .close {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.modal .close img {
  width: 20px;
  height: 20px;
}

.modal h2 {
  padding: 1em;
  background-color: black;
  color: white;
}

.modal h3 {
  color: black;
  text-decoration: underline;
}

.modal p {
  color: black;
}

.modal label {
  color: black;
}

.step {
  margin: 3em 0;
}

.app-links {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.app .stores > div {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  height: 75px;
  max-width: 50%;
}

.app .stores .android {
  justify-content: flex-start;
}

.app a {
  display: inline-block;
  overflow: hidden;
  border-radius: 13px;
}

.app .ios {
  height: 100%;
}

.app .ios a {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.app .android img {
  width: 190px;
}

.app .ios img {
  width: 160px;
}

.app .stores {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .vc-ltd-app {
  padding: 0;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .vc-ltd-app img {
  width: 100px;
}

.qr-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#qr-canvas {
  border: 2px solid black;
  min-height: 200px;
  max-width: 50%;
}

.resonate-community {
  width: 300px;
  max-width: 100%;
}

.resonate-community a {
  background-color: black;
  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

.resonate-community img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    position: unset;
  }

  .title {
    font-size: 2.5em;
    margin: 1em 0 1.5 0;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .background ul {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  #trial-form {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
    align-items: left;
    margin: 1em 0;
  }

  .links a {
    width: 100%;
    margin: .5em 0;
  }
  
  .app-links {
    flex-direction: column;
  }
  
  .app .stores {
    flex-direction: column;
    margin-top: 1em;
  }

  .app .stores > div {
    width: unset;
    max-width: unset;
    flex-direction: column;
  }
  
  .qr-links {
    flex-direction: column;
  }
  
  #qr-canvas {
    margin-bottom: 1em;
    max-width: 100%;
  }
}
